@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --scrollbar-track: 0 0% 93% / 0.4;
    --scrollbar-thumb: 30 30% 68%;
    --scrollbar-width: 0.525rem;
    --scrollbar-height: 0.775rem;
    --scrollbar-thumb-radius: 0.5rem;

    --tw-prose-pre-bg: var(--background);
  }
}

@layer base {
  * {
    @apply border-border;

    /* Only for Firefox - the following styles can be applied to Chromium based too,
       but then they breaks the webkit-scrollbar style */
    @document url-prefix() {
      scrollbar-color: theme("colors.scrollbarThumb.DEFAULT") transparent;
      scrollbar-gutter: auto;
    }

    outline: none;
    color-scheme: light dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    ::-webkit-scrollbar {
      width: calc(theme("spacing.scrollbarWidth") + 0.3rem);
      height: theme("spacing.scrollbarHeight");
    }

    ::-webkit-scrollbar-track {
      background: theme("colors.scrollbarTrack.DEFAULT");
    }

    ::-webkit-scrollbar-thumb {
      width: theme("spacing.scrollbarWidth");
      border: 0.2rem solid transparent;
      border-radius: theme("borderRadius.scrollbarThumb");
      background-color: theme("colors.scrollbarThumb.DEFAULT");
      background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: theme("colors.scrollbarThumb.DEFAULT"/50%);
    }

    ::-webkit-scrollbar-corner {
      background-color: theme("colors.scrollbarThumb.DEFAULT"/50%);
    }

    ::-webkit-scrollbar-corner,
    ::-webkit-scrollbar {
      overflow: overlay;
    }
  }

  html,
  body {
    min-height: 100vh;
  }

  body {
    @apply bg-background text-foreground px-4;
  }
}

html {
  overflow-y: scroll;
}

html body[data-scroll-locked] {
  margin-right: 0 !important;
}

/** Code highlight */
.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before,
.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: none;
}

.prose :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  background-color: hsl(var(--background) / 100%);
}

.prose
  :where(a code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: hsl(var(--background) / 100%);
}

.prose
  :where(pre code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: hsl(var(--foreground) / 100%);
}

.prose
  :where(a code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  ):hover {
  background-color: hsl(var(--accent) / 20%);
}

.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before,
.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: "";
}

pre.language-shell + pre {
  margin-top: -1.7rem;
  border-top: 4px solid hsl(var(--accent) / 100%);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.code-highlight {
  float: left;
  min-width: 98%;
}

.code-line {
  margin-right: -16px;
  margin-left: -16px;
  padding-right: 16px;
  padding-left: 16px;
  display: block;
  border-left: 4px solid hsl(var(--accent) / 0%);
}

.code-line.inserted {
  background-color: hsl(var(--accent) / 40%);
}

.code-line.deleted {
  background-color: hsl(var(--accent-secondary) / 40%);
}

.token.inserted {
  background: hsl(var(--accent) / 30%);
}

.token.deleted {
  background: hsl(var(--accent-secondary) / 30%);
}

.token.important {
  border-bottom: 1px dotted hsl(var(--accent) / 40%);
}

pre.diff-highlight > code .token.token.deleted:not(.prefix),
pre > code.diff-highlight .token.token.deleted:not(.prefix) {
  background-color: hsl(var(--destructive) / 10%);
}

pre.diff-highlight > code .token.token.inserted:not(.prefix),
pre > code.diff-highlight .token.token.inserted:not(.prefix) {
  background-color: hsl(var(--ring-secondary) / 10%);
}

.line-number::before {
  content: attr(line);
  margin-right: 16px;
  margin-left: -8px;
  display: inline-block;
  width: 1rem;
  text-align: right;
  color: hsl(var(--foreground-secondary) / 100%);
}

.highlight-line {
  margin-right: -16px;
  margin-left: -16px;
  border-left: 4px solid hsl(var(--accent) / 90%);
  background-color: hsl(var(--ring) / 20%);
}

pre[class*="language-"],
code[class*="language-"] {
  color: hsl(var(--foreground) / 100%);
  text-align: left;
  text-shadow: none;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  direction: ltr;
  hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"] *::selection,
code[class*="language-"] *::selection {
  background: hsl(var(--ring) / 100%);
  text-shadow: none;
}

pre[class*="language-"] {
  margin: 1.5em 0;
  padding: 1em;
  overflow: auto;
  max-height: 40em;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  white-space: normal;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: hsl(var(--card) / 90%);
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #7c6f64;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.atrule {
  color: #9d0006;
}

.token.operator,
.token.punctuation,
.token.attr-name {
  color: #7c6f64;
}

.token.tag,
.token.tag .punctuation,
.token.doctype {
  color: #b57614;
}

.token.builtin {
  color: #116b00;
}

.token.entity,
.token.number,
.token.symbol {
  color: #8f3f71;
}

.token.property,
.token.constant,
.token.variable {
  color: #9d0006;
}

.token.string,
.token.char {
  color: #797403;
}

.token.attr-value,
.token.attr-value .punctuation {
  color: #7c6f64;
}

.token.url {
  color: rgb(59 130 246 / 29%);
  text-decoration: underline;
}

.token.function {
  color: #b57614;
}

.token.regex {
  background: rgba(239, 67, 67, 0.15);
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
